name: Sync Upstream and Patch

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download latest kejilion.sh
        run: |
          curl -sL https://raw.githubusercontent.com/kejilion/sh/main/kejilion.sh -o kejilion.sh
          # 确保下载成功
          if [ ! -f kejilion.sh ]; then
            echo "Error: kejilion.sh download failed."
            exit 1
          fi

      - name: Replace main menu function (with Anchor)
        run: |
          custom_content=$(cat custom_kejilion.sh | sed ':a;N;$!ba;s/\n/\\n/g')
          sed -i "/^kejilion_sh() {/,/^}$/c\\
          $custom_content
          " kejilion.sh

      - name: Insert custom functions
        run: |
          sed -i '/^# custom_kejilion.sh/r custom_functions.sh' kejilion.sh

      - name: Convert to Unix Line Endings
        run: |
          sed -i 's/\r$//' kejilion.sh

      - name: Disable Monitoring Variable
        run: |
          sed -i 's/ENABLE_STATS="true"/ENABLE_STATS="false"/' kejilion.sh

      - name: Commit and push changes
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          
          if git diff --exit-code kejilion.sh; then
            echo "No changes in kejilion.sh. Skipping commit."
          else
            git add kejilion.sh
            git commit -m "..."
            git push
            echo "Successfully updated and pushed kejilion.sh"
          fi
